/* header css start here */
header {
  background-color: #000;
}

header .navbar{
  background-color: #000 !important;
  height: 70px;
}
header .navbar-brand img{
  width: 100%;
}
header .diligent-logo{
  max-width: 180px;
  margin: 0 auto;
}
header .navbar-brand{
  max-width: 180px;
  margin: 0 auto;
}


/* coming soon page css start here */
.coming-soon{
  background-color: #000;
  color: #fff;
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coming-soon .diligent-logo{
  max-width: 180px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.coming-soon img{
  width: 100%;
}